*, html {
    margin:0;
    padding:0;
}

@media screen and (max-width: 768px){
  body {

    background-color: hsl(0, 0%, 98%);
    color: hsl(234, 12%, 34%);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin: auto;
    width: 375px;
  }

  h1 {
    font-size: 1.6rem;
  }

  .top-container p {
    margin: 10px auto 40px auto;
    text-align: center;
    width: 300px;

  }

  .middle-container {
    display: block;
    text-align: center;

  }

  .card {
    text-align: left;
    border-radius: 10px;
    display: block;
    position: relative;
    width: 350px;
    height: 196.875px;
    background-color:white;
    box-shadow: 0 15px 20px -20px hsl(234, 12%, 34%);
    margin: 20px auto 0 10px;
  }

  .card p {
    margin-left: 20px;
    position: absolute;
    top: 40px;
  }

}

@media screen and (orientation: landscape){
  body {

    background-color: hsl(0, 0%, 98%);
    color: hsl(234, 12%, 34%);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    width: 375px;
  }

  h1 {
    font-size: 1.6rem;
  }

  .top-container p {
    margin: 10px auto 40px auto;
    text-align: center;
    width: 300px;

  }

  .middle-container {
    display: block;
    text-align: center;

  }

  .card {
    text-align: left;
    border-radius: 10px;
    display: block;
    position: relative;
    width: 350px;
    height: 196.875px;
    background-color:white;
    box-shadow: 0 15px 20px -20px hsl(234, 12%, 34%);
    margin: 20px auto 0 10px;
  }

  .card p {
    margin-left: 20px;
    position: absolute;
    top: 40px;
  }

}


@media screen and (min-width: 768px) {
  body {

    background-color: hsl(0, 0%, 98%);
    color: hsl(234, 12%, 34%);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin: auto;
    width: 1440px;
    height: 875px;
  }

  .middle-container {
    display: block;
    position: relative;
    text-align: center;
    width: 1440px;
    height: 718px;
    margin: 0 auto;
    padding: 0;

  }

  .top-container p {
    margin: auto;
    text-align: center;
    width: 500px;

  }

  .card {
    text-align: left;
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    width: 350px;
    height: 196.875px;
    background-color:white;
    margin-top: 0;
    box-shadow: 0 15px 20px -15px hsl(229, 6%, 66%);
  }

  .card p {
    margin-left: 20px;
    position: absolute;
    top: 40px;
  }

  .super {
    left: 205px;
    top: 400px;
  }

  .team {
    top: 250px;
    left: 585px;
  }

  .karma {
    top: 476px;
    left: 585px;
  }

  .calc {
    top: 400px;
    left: 965px;
  }

}

p {
  color: hsl(229, 6%, 66%);
}
h1 {
  text-align: center;
}

footer {
  margin:  40px auto 20px auto;
}

.top_title {
  margin-top: 50px;
  font-weight: 200;
  margin-bottom: 0;
}

.bottom_title {
  margin-top: 0;
  font-weight: 600;
}






h3 {
  position: absolute;
  top: 5px;
  margin-left: 20px;
}



hr {
  margin:0;
  position: absolute;
  top: 0;
  left:2px;
  border-width: 0;
  display: inline-block;
  border-style: none;
  width: 347px;
  height: 5px;
  border-radius: 15px 15px 0 0;
  background-color: black;
}

.red {
  background-color: hsl(0, 78%, 62%);
}

.lightblue {
  background-color: hsl(180, 62%, 55%);
}

.blue {
  background-color: hsl(212, 86%, 64%);
}

.orange {
  background-color: hsl(34, 97%, 64%);
}



.card img {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
